{% extends "base.html" %}
{% load bootstrap4 %}


{% block content %}
    <div class="container">

        {% if form.Is_Customer %}
            <h1> Customer Profile View </h1>
        {% else %}
            <h1> store admin Profile View </h1>
        {% endif %}
        {% for U in user %}
            {% if U == Is_Customer %}

            {% else %}
                {{ U.label }}&emsp; &emsp; {{ U.value }}
            {% endif %}
            <hr>
        {% endfor %}
        {% if form.Is_Customer %}
            {% for U in form %}
                {{ U.label }}&emsp; &emsp; {{ U.value }}
                {% if foo %}{% endif %}
                <hr>
            {% endfor %}
        {% endif %}
        {% if form.Is_StoreAdmin %}
            {% for U in form %}
                {{ U.label }}&emsp; &emsp; {{ U.value }}
                {% if foo %}{% endif %}
                <hr>
            {% endfor %}
        {% endif %}


        <a class="nav-link" href="{% url 'accounts:edit_profile' %}">edit Profile</a>


    </div>
{% endblock %}

